/**/
@import url('flatstyle_emerald_white_v2.css');

#extra1 {
	background: #E74C3C;
}

.colhead_dark {
	background: #E74C3C;
	color: #FFF;
}

.head {
	background: #E74C3C;
	color: #FFF;
}

.head stronge {
	color: #FFF;
}

.colhead_dark stronge a {
	color: #FFF;
}

.colhead_dark stronge a:hover {
	color: #34495E;
}

.center_poll {
	background: #E74C3C;
}

#searchbars input:focus {
	border-color: #E74C3C;
	background: #FFF;
	color: #34495E;
}

.colhead {
	background: #E74C3C;
	color: #FFF;
}

input[type=submit], input[type=button] {
	background: #E74C3C;
}

input[type=submit]:hover, input[type=button]:hover {
	background-color: #EC7063;
	border-color: #EC7063;
}

input[type=submit]:focus, input[type=button]:focus {
	background-color: #EC7063;
	border-color: #EC7063;
}

textarea:hover, select:hover, input[type=text]:hover, input[type="email"]:hover, input[type="password"]:hover, input[type=search]:hover {
	border-color: #E74C3C;
}

textarea:active, select:active, input[type=text]:active, input[type="email"]:active, input[type="password"]:active, input[type=search]:active, textarea:focus,
select:focus, input[type=text]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type=search]:focus {
	border-color: #C0392B;
}

.tooltipster-default {
	border-radius: 5px;
	border: 2px solid #34495E;
	background: #C0392B;
	color: #FFF !important;
}

.new {
	color: #F1C40F;
}

.colhead_dark a {
	color: #F7F7F7;
}

.colhead_dark a:hover {
	color: #BDC3C7;
}

a {
	color: #E74C3C;
}

.colhead_dark a, .colhead a, .head a {
	color: #F7F7F7;
}

.colhead_dark a:hover, .colhead a:hover, .head a:hover {
	color: #555;
}

.unread_locked_sticky::before, .unread_sticky::before, .unread_locked::before, .unread::before {
	color: #E74C3C;
}
